# Ignorar o ambiente virtual
venv/

# Ignorar arquivos de log
# Ignorar arquivos sensíveis
.env
*.log
*.csv

# Ignorar arquivos de configuração do editor (como do VSCode ou PyCharm)
.vscode/
.idea/

# Ignorar arquivos de cache Python
__pycache__/
